
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
  background: #E5E5E5;
}

.container{
    max-width: 1440px;
    padding: 9px 40px;
    margin: 0 auto;
}


.header{
    background: #292E36;
}
.header__top {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
  }

  .btn{
    color: #FFFFFF;
    background:#292E36;
    padding:  20px 57px;
    border: 2px solid #E1B168;
  }
  .btny{
    background:#E1B168;
    padding:  20px 57px;
    border: 2px solid #E1B168;
  }



  .header__bottom-list{

    display: flex;
    column-gap: 60px;
    margin: 30px 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
  }

  .header__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;  
  }

  .header__bottom-icon{
   margin-left: 24px;
  }

  .welcome{
    background: #292E36;
  }

  .welcome__all{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .welcome__left-title{
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 110px;
    color: #FFFFFF;
  }

  .welcome__left-desc{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 25px 0 35px;
  }
  .welcome__left-button{

    color :#E1B168;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;   
    font-size: 22px;
    padding: 20px 57px;
    border: 2px solid #E1B168;
    background-color: #292E36;
  }


  .story__top{
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    margin: 105px 0 65px;
  }
  
  .story__bottom{
    display: flex;
    column-gap: 45px;
  }

 
  .story__top-title{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
  }

.story__top-desc{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.story__img{
    height: 419px;
    width: 643px;
    left: 0px;


}


.story__right-list-item-title{
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
}

.story__right-list-item-description{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.col{
    display: flex;
}

.menu__all{
  display: flex;
  justify-content: space-between;
}

.menu__left-btn{
  border: none;  
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  border-top:1px solid#E1B168;
  border-bottom:1px solid#E1B168;
}

.menu__left-title{
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height:56px;
  margin-bottom:15px;
}

.menu__left-desc{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}



.btnm{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #292E36;
  padding:  20px 57px;
  border: 2px solid #E1B168;
}

.menu__left-img{
  margin: 45px 0 60px;
}

.menu__right{
  
}

.menu__right-top-title{
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
}

.menu__right-title{
  display: inline;
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
}
.menu__right-desc{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.menu__right-line{
  height: 2px;
  width: 260px;
  border: 1px solid #292E36;
}

.menu__right-row-row{
  display: flex;
  align-items: flex-end;
}

.menu__right-row{
  display: flex;
  align-items: flex-end;
}
.menu__right-icon{
  margin: 40px 0 50px;
}
.our{
  background-color: #292E36;
}

.our__top{
  background-color: #292E36;
  padding: 140px 0 80px ;
}

.our__btn{
  border: none;
  border-top: 1px solid #E1B168;
  border-bottom: 1px solid #E1B168;
  color: #FFFFFF;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  background-color: #292E36;
}
.our__top-title{
  color: #FFFFFF;
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
}
.our__top-desc{
  color: #FFFFFF;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.our__card-title{ 
  color: white;
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
}

  .our__card-desc{
  color: #E1B168;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  }
  .our__card-row{
  display: flex;
  column-gap: 30px;
  align-items: center;
  }